<ion-card xmlns="http://www.w3.org/1999/html">
    <ion-card-header>
        <ion-card-title>
            {{forecast?.weather.main}}
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item lines="none">
            <wapi-avatar [iconName]="forecast?.weather.icon">
            </wapi-avatar>
            <ion-label class="ion-padding ion-text-capitalize">
                <h1>{{forecast?.weather.description}}</h1>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
               <h2>
                   Temperature {{forecast?.main.temp}} C
               </h2>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h3 class="feel-temperature">
                    Feels like {{forecast?.main.tempFeelsLike}} C
                </h3>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h3>
                    <span class="max-temperature"> Max {{forecast?.main.tempMax}} C</span>
                </h3>
                <h3>
                    <span class="min-temperature"> Min {{forecast?.main.tempMin}} C</span>
                </h3>
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>
