
.was-validated {
    .ng-invalid:not(form) {
        // angular adds style for invalid field
    }
}
ion-input {
    input::-webkit-input-placeholder {
        opacity: 0;
    }

    input:focus::-webkit-input-placeholder {
        color: var(--ion-color-medium);
        opacity: 1;
    }
}
